/*
  Breakpoints: 
    Mobile (640px = 40em)
    Tablet (768px = 48em)
    Tablet Landscape (1024px = 64em)
    Laptop (1440px = 90em)
    Really large screens ( >= 2000 = 125 em)
*/

* {
  --primary-color: #fffcf2;
  --secondary-color: #BE8A60;

  transition: 300ms;
}

.app__container {
  /* sizing and page fitment */
  box-sizing: content-box;
  width: 100vw;
  height: fit-content;

  /* margins, paddings, borders */
  margin: 0;
  padding: 0;
  border: 0;

  /* display mode */
  display: block;
  flex-direction: row;
}

/* Tablet (768px = 48em) AND ABOVE */
@media only screen and (min-width: 48em) { 
  .app__container {
    display: flex;
  }
}

/* Tablet Landscape (1024px = 64em) AND ABOVE */
@media only screen and (min-width: 64em) {
  .app__container {
    display: flex;
  }
}
